<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>xiao_Y个人博客</title>
<script src="/blog/common/common.js"></script>
<script src="/blog/js/jquery.timelinr-0.9.6.js"></script>
</head>
<style type="text/css">
.types {
	float: left;
	margin: 3px 5px;
}

.types+.types {
	float: left;
	margin: 3px 5px;
}
</style>
<body class="lay-blog">
	<iframe src="/blog/common/header.html" frameBorder="0" width="100%"
		height="110px" id="maincontent"></iframe>
	<div class="container-wrap" id="main_body"
		style="padding-top: 0px; padding-bottom: 0px;min-height: 0;">
		<div
			style="float: left; width: 21%; padding: 0; margin-left: 10px; height: auto;">
			<div class="float-board-left">
				<div class="title-div">
					<span style="margin-left: 10px;">最新藏书</span>
				</div>
				<div class="content-div" style="overflow: hidden;">
					<div style="margin-left: 20px; font-size: 15px;">
						<div style="margin-top: 20px;" v-for="book in nearlyBooks">
							<i class="fa fa-circle"></i> <span><a
								v-bind:href="'/blog/html/book_detail.html?id='+book.bookId" target="_parent">《{{book.bookName}}》</a></span>
						</div>
					</div>
				</div>
			</div>
		</div>
		<iframe
			style="float: right; width: 21%; padding: 0; margin-right: 10px; height: 500px;"
			frameBorder="0" src="/blog/common/right.html" scrolling="no"
			name="right_id"></iframe>
		<div
			style="width: 55%; margin: 0 auto; background-color: white; overflow: hidden;">
			<div
				style="margin-left: 10px; float: left; margin-top: 10px; width: 100%; font-weight: 600;">私人书屋</div>
			<div
				style="height: 2px; background-color: orange; float: left; width: 100%;"></div>
			<div style="float: left; margin: auto; width: 100%;">
				<div style="margin: 10px; width: 150px; float: left;" v-for="book in books">
					<a v-bind:href="'/blog/html/book_detail.html?id='+book.id">
						<img alt="" v-bind:src="book.faceUrl" style="width: 150px;">
					</a>
					<div>
						<h3 style="font-size: 16px; font-weight: 600; text-align: center;">
							<a v-bind:href="'/blog/html/book_detail.html?id='+book.id">《{{book.bookName}}》</a>
						</h3>
					</div>
				</div>
			</div>
			<div style="display: inline-block; margin-left: 50%;">
				<div id="pagination" style="position: relative; right: 50%;"></div>
			</div>
		</div>
	</div>
	<iframe src="/blog/common/footer.html" width="100%" frameBorder="0"
		style="height: 120px;margin-top: 10px;"></iframe>
</body>
<script type="text/javascript">
	var menu_id = "menu_id5";
	var vm=new Vue({
		el:"#main_body",
		data:{
			photo_url:"",
			tips:"",
			nearlyBooks:[],
			books:[]
		}
	})
	
	$(function(){
		$.ajax({
			"url":"/blog/book/getNearlyBooks",
			"type":"POST",
			"success":function(response){
				if(response.rspType=="rspSuccess"){
					vm.nearlyBooks=response.rspContent;
				}else if(response.rspType=="rspFail"){
					top.show_warn_dialog(response.failReason);
				}
			}
		});
		
		$.ajax({
			"url" : "/blog/book/geetBooksCount",
			"type" : "POST",
			"success" : function(response) {
				if (response.rspType == "rspSuccess") {
					var totalCount = response.rspContent;
					layui.use('laypage',function() {
						var laypage = layui.laypage;
						laypage.render({
							elem : 'pagination', //注意，这里的 test1 是 ID，不用加 # 号
							count : totalCount,
							limit : pageSize,
							groups : showPages,
							jump : function(obj, first) {
								var data = {
									"cur" : obj.curr,
									"size" : obj.limit
								};
								$.ajax({
									"url" : "/blog/book/getBooksByPage",
									"type" : "POST",
									"data" : data,
									"success" : function(
											diary_response) {
										if (diary_response.rspType == "rspSuccess") {
											vm.books = diary_response.rspContent.result;
										} else if (diary_response.rspType == "rspFail") {
											show_warn_dialog(response.failReason);
										}
									}
								});
							}
						});
					});
				} else if (response.rspType == "rspFail") {
					show_warn_dialog(response.failReason);
				}
			}
		});
	})
</script>
</html>