<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="yyf256.top.blog.dao.DiaryMapper" >
  <resultMap id="BaseResultMap" type="yyf256.top.blog.model.Diary" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="VARCHAR" />
    <result column="overview" property="overview" jdbcType="VARCHAR" />
    <result column="time" property="time" jdbcType="TIMESTAMP" />
    <result column="praise_count" property="praiseCount" jdbcType="INTEGER" />
    <result column="browse_count" property="browseCount" jdbcType="INTEGER" />
    <result column="comment_count" property="commentCount" jdbcType="INTEGER" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="yyf256.top.blog.model.DiaryWithBLOBs" extends="BaseResultMap" >
    <result column="face_url" property="faceUrl" jdbcType="LONGVARCHAR" />
    <result column="content" property="content" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, title, type, overview, time, praise_count, browse_count, comment_count
  </sql>
  <sql id="Blob_Column_List" >
    face_url, content
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from diary
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from diary
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="yyf256.top.blog.model.DiaryWithBLOBs" >
    insert into diary (id, title, type, 
      overview, time, praise_count, 
      browse_count, comment_count, face_url, 
      content)
    values (#{id,jdbcType=INTEGER}, #{title,jdbcType=VARCHAR}, #{type,jdbcType=VARCHAR}, 
      #{overview,jdbcType=VARCHAR}, #{time,jdbcType=TIMESTAMP}, #{praiseCount,jdbcType=INTEGER}, 
      #{browseCount,jdbcType=INTEGER}, #{commentCount,jdbcType=INTEGER}, #{faceUrl,jdbcType=LONGVARCHAR}, 
      #{content,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="yyf256.top.blog.model.DiaryWithBLOBs" >
    insert into diary
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="overview != null" >
        overview,
      </if>
      <if test="time != null" >
        time,
      </if>
      <if test="praiseCount != null" >
        praise_count,
      </if>
      <if test="browseCount != null" >
        browse_count,
      </if>
      <if test="commentCount != null" >
        comment_count,
      </if>
      <if test="faceUrl != null" >
        face_url,
      </if>
      <if test="content != null" >
        content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="overview != null" >
        #{overview,jdbcType=VARCHAR},
      </if>
      <if test="time != null" >
        #{time,jdbcType=TIMESTAMP},
      </if>
      <if test="praiseCount != null" >
        #{praiseCount,jdbcType=INTEGER},
      </if>
      <if test="browseCount != null" >
        #{browseCount,jdbcType=INTEGER},
      </if>
      <if test="commentCount != null" >
        #{commentCount,jdbcType=INTEGER},
      </if>
      <if test="faceUrl != null" >
        #{faceUrl,jdbcType=LONGVARCHAR},
      </if>
      <if test="content != null" >
        #{content,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="yyf256.top.blog.model.DiaryWithBLOBs" >
    update diary
    <set >
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="overview != null" >
        overview = #{overview,jdbcType=VARCHAR},
      </if>
      <if test="time != null" >
        time = #{time,jdbcType=TIMESTAMP},
      </if>
      <if test="praiseCount != null" >
        praise_count = #{praiseCount,jdbcType=INTEGER},
      </if>
      <if test="browseCount != null" >
        browse_count = #{browseCount,jdbcType=INTEGER},
      </if>
      <if test="commentCount != null" >
        comment_count = #{commentCount,jdbcType=INTEGER},
      </if>
      <if test="faceUrl != null" >
        face_url = #{faceUrl,jdbcType=LONGVARCHAR},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="yyf256.top.blog.model.DiaryWithBLOBs" >
    update diary
    set title = #{title,jdbcType=VARCHAR},
      type = #{type,jdbcType=VARCHAR},
      overview = #{overview,jdbcType=VARCHAR},
      time = #{time,jdbcType=TIMESTAMP},
      praise_count = #{praiseCount,jdbcType=INTEGER},
      browse_count = #{browseCount,jdbcType=INTEGER},
      comment_count = #{commentCount,jdbcType=INTEGER},
      face_url = #{faceUrl,jdbcType=LONGVARCHAR},
      content = #{content,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="yyf256.top.blog.model.Diary" >
    update diary
    set title = #{title,jdbcType=VARCHAR},
      type = #{type,jdbcType=VARCHAR},
      overview = #{overview,jdbcType=VARCHAR},
      time = #{time,jdbcType=TIMESTAMP},
      praise_count = #{praiseCount,jdbcType=INTEGER},
      browse_count = #{browseCount,jdbcType=INTEGER},
      comment_count = #{commentCount,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="getDiaryByPage" resultMap="ResultMapWithBLOBs" parameterType="yyf256.top.blog.util.PageSearch">
  	select * from diary <if test="IsOneStr">order by browse_count desc limit #{begin},#{size}</if>
  </select>
  <select id="getDiaryCount" resultType="java.lang.Integer">
  	select count(*) from diary 
  </select>
</mapper>