<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="yyf256.top.blog.dao.FaceImgMapper" >
  <resultMap id="BaseResultMap" type="yyf256.top.blog.bean.FaceImg" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="url" property="url" jdbcType="VARCHAR" />
    <result column="show_index" property="showIndex" jdbcType="INTEGER" />
    <result column="img_name" property="imgName" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, url, show_index, img_name
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from face_img
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from face_img
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="yyf256.top.blog.bean.FaceImg" >
    insert into face_img (id, url, show_index,
      img_name)
    values (#{id,jdbcType=INTEGER}, #{url,jdbcType=VARCHAR}, #{showIndex,jdbcType=INTEGER},
      #{imgName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="yyf256.top.blog.bean.FaceImg" >
    insert into face_img
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="url != null" >
        url,
      </if>
      <if test="showIndex != null" >
        show_index,
      </if>
      <if test="imgName != null" >
        img_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="url != null" >
        #{url,jdbcType=VARCHAR},
      </if>
      <if test="showIndex != null" >
        #{showIndex,jdbcType=INTEGER},
      </if>
      <if test="imgName != null" >
        #{imgName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="yyf256.top.blog.bean.FaceImg" >
    update face_img
    <set >
      <if test="url != null" >
        url = #{url,jdbcType=VARCHAR},
      </if>
      <if test="showIndex != null" >
        show_index = #{showIndex,jdbcType=INTEGER},
      </if>
      <if test="imgName != null" >
        img_name = #{imgName,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="yyf256.top.blog.bean.FaceImg" >
    update face_img
    set url = #{url,jdbcType=VARCHAR},
      show_index = #{showIndex,jdbcType=INTEGER},
      img_name = #{imgName,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="getImgsOrderByIndex" resultMap="BaseResultMap">
    select <include refid="Base_Column_List"/> from face_img order by show_index
  </select>
</mapper>