<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="yyf256.top.blog.dao.TechnicalShareMapper" >
  <resultMap id="BaseResultMap" type="yyf256.top.blog.model.TechnicalShare" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="VARCHAR" />
    <result column="overview" property="overview" jdbcType="VARCHAR" />
    <result column="praise_count" property="praiseCount" jdbcType="INTEGER" />
    <result column="comment_count" property="commentCount" jdbcType="INTEGER" />
    <result column="browse_count" property="browseCount" jdbcType="INTEGER" />
    <result column="time" property="time" jdbcType="TIMESTAMP" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="yyf256.top.blog.model.TechnicalShareWithBLOBs" extends="BaseResultMap" >
    <result column="content" property="content" jdbcType="LONGVARCHAR" />
    <result column="face_url" property="faceUrl" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, title, type, overview, praise_count, comment_count, browse_count, time
  </sql>
  <sql id="Blob_Column_List" >
    content, face_url
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from technical_share
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from technical_share
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="yyf256.top.blog.model.TechnicalShareWithBLOBs" >
    insert into technical_share (id, title, type, 
      overview, praise_count, comment_count, 
      browse_count, time, content, 
      face_url)
    values (#{id,jdbcType=INTEGER}, #{title,jdbcType=VARCHAR}, #{type,jdbcType=VARCHAR}, 
      #{overview,jdbcType=VARCHAR}, #{praiseCount,jdbcType=INTEGER}, #{commentCount,jdbcType=INTEGER}, 
      #{browseCount,jdbcType=INTEGER}, #{time,jdbcType=TIMESTAMP}, #{content,jdbcType=LONGVARCHAR}, 
      #{faceUrl,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="yyf256.top.blog.model.TechnicalShareWithBLOBs" >
    insert into technical_share
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="overview != null" >
        overview,
      </if>
      <if test="praiseCount != null" >
        praise_count,
      </if>
      <if test="commentCount != null" >
        comment_count,
      </if>
      <if test="browseCount != null" >
        browse_count,
      </if>
      <if test="time != null" >
        time,
      </if>
      <if test="content != null" >
        content,
      </if>
      <if test="faceUrl != null" >
        face_url,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="overview != null" >
        #{overview,jdbcType=VARCHAR},
      </if>
      <if test="praiseCount != null" >
        #{praiseCount,jdbcType=INTEGER},
      </if>
      <if test="commentCount != null" >
        #{commentCount,jdbcType=INTEGER},
      </if>
      <if test="browseCount != null" >
        #{browseCount,jdbcType=INTEGER},
      </if>
      <if test="time != null" >
        #{time,jdbcType=TIMESTAMP},
      </if>
      <if test="content != null" >
        #{content,jdbcType=LONGVARCHAR},
      </if>
      <if test="faceUrl != null" >
        #{faceUrl,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="yyf256.top.blog.model.TechnicalShareWithBLOBs" >
    update technical_share
    <set >
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="overview != null" >
        overview = #{overview,jdbcType=VARCHAR},
      </if>
      <if test="praiseCount != null" >
        praise_count = #{praiseCount,jdbcType=INTEGER},
      </if>
      <if test="commentCount != null" >
        comment_count = #{commentCount,jdbcType=INTEGER},
      </if>
      <if test="browseCount != null" >
        browse_count = #{browseCount,jdbcType=INTEGER},
      </if>
      <if test="time != null" >
        time = #{time,jdbcType=TIMESTAMP},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=LONGVARCHAR},
      </if>
      <if test="faceUrl != null" >
        face_url = #{faceUrl,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="yyf256.top.blog.model.TechnicalShareWithBLOBs" >
    update technical_share
    set title = #{title,jdbcType=VARCHAR},
      type = #{type,jdbcType=VARCHAR},
      overview = #{overview,jdbcType=VARCHAR},
      praise_count = #{praiseCount,jdbcType=INTEGER},
      comment_count = #{commentCount,jdbcType=INTEGER},
      browse_count = #{browseCount,jdbcType=INTEGER},
      time = #{time,jdbcType=TIMESTAMP},
      content = #{content,jdbcType=LONGVARCHAR},
      face_url = #{faceUrl,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="yyf256.top.blog.model.TechnicalShare" >
    update technical_share
    set title = #{title,jdbcType=VARCHAR},
      type = #{type,jdbcType=VARCHAR},
      overview = #{overview,jdbcType=VARCHAR},
      praise_count = #{praiseCount,jdbcType=INTEGER},
      comment_count = #{commentCount,jdbcType=INTEGER},
      browse_count = #{browseCount,jdbcType=INTEGER},
      time = #{time,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="getCountByPage" parameterType="yyf256.top.blog.bean.TechnicalSearch" resultType="java.lang.Integer">
  	select count(*) from technical_share where 0=0 <if test='techType!=null'>
  		and type = #{techType}
  	</if>
  </select>
  <select id="getTechShareByPage" parameterType="yyf256.top.blog.bean.TechnicalSearch" resultMap="ResultMapWithBLOBs">
  	select * from technical_share where 0=0 <if test='techType!=null'>
  		and type = #{techType}</if><if test="IsOneStr">
  		order by browse_count desc limit #{begin},#{size}</if>
  </select>
  <select id="getTechTypes" resultType="yyf256.top.blog.bean.TechncialType">
  	SELECT TYPE AS 'typeName',COUNT(id) AS 'count' FROM technical_share GROUP BY TYPE
  </select>
</mapper>